/* GLOBAL */
@font-face {font-family: 'HP Simplified'; src: url('fonts/HP Simplified');}
html,body {height: 100%;width: 100%;}
p{font-family: 'HP Simplified';font-weight: 300;}
row{border-bottom:5px solid #000;}


/* ADJUSTMENTS */
.no-gutter > [class*='col-'] {padding-right: 0;padding-left: 0;}
.no-padding {padding: 0;}
.text-faded {color: rgba(255, 255, 255, 0.7);}
.text-right {text-align: right;}
.text-left {text-align: left;}
.row-boost{padding: 5%;}

/* NAVBAR */
.navbar-custom {background-color: #222222;border-color: transparent;}
.navbar-custom .navbar-brand {padding: 1%;}
.navbar-custom .navbar-brand:hover,.navbar-custom .navbar-brand:focus,.navbar-custom .navbar-brand:active,.navbar-custom .navbar-brand.active {color: #fec503;}
.navbar-custom .navbar-collapse {border-color: rgba(255, 255, 255, 0.02);}
.navbar-custom .navbar-toggle {background-color: #fed136;border-color: #fed136;font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;text-transform: uppercase;color: white;font-size: 12px;}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {background-color: #fed136;}
.navbar-custom .nav li a {font-family: 'HP Simplified';text-transform: uppercase;font-weight: 400;letter-spacing: 1px;color: white;}
.navbar-custom .nav li a:hover,.navbar-custom .nav li a:focus {color: #fed136;outline: none;}
.navbar-custom .navbar-nav > .active > a {border-radius: 0;color: white;background-color: #fed136;}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {color: white;background-color: #fec503;}
@media (min-width: 768px) {.navbar-custom {background-color: transparent;padding: .50% 0;-webkit-transition: padding 0.3s;-moz-transition: padding 0.3s;transition: padding 0.3s;border: none;}
.navbar-custom .navbar-brand {font-size: 2em;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.navbar-custom .navbar-nav > .active > a {border-radius: 3px;}}
@media (min-width: 768px) {.navbar-custom.affix {background-color: #222222;padding: 10px 0;}.navbar-custom.affix .navbar-brand {font-size: 1.5em;}}

/* HEADER */
#header {padding-top: 1%;padding-bottom: 9%;width: 100%;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;background-position: center;background-image: url('../img/benson-walls-room.jpg');text-align: center;}
#header .header-content {text-align: center;padding: 10% 3% 10%;width: 100%;}
#header .header-content .header-content-inner {margin-left: auto;margin-right: auto;}
#header h1{font-family: 'HP Simplified'; color: #fff;font-weight: 300;}


/* INTRODUCTION */
#introduction {border-bottom:.09em #000;}
#introduction .embed-copy{display: block; margin: 0 auto;padding: 10%;}
#introduction h2{font-family: 'HP Simplified';font-size: 3.250em;color: #000;line-height: 1.1;font-weight: 300;}
#introduction p{font-family: 'HP Simplified'; color: #000;font-size: 1.2em;}

/* CHALLENGE */
#challenge {background: #fff;width: 100%;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;background-position: center;background-image: url('../img/hp-benson-walls-challenge.jpg');}
#challenge .embed-copy{display: block; margin: 0 auto;padding: 20%;}
#challenge h2{font-family: 'HP Simplified'; font-size: 3.250em;color: #fff;line-height: 1.1;font-weight: 300;}
#challenge p{font-family: 'HP Simplified'; color: #fff;font-size: 1.2em;}

/* SOLUTION */
#solution {background: #fff;}
#solution .embed-copy{display: block; margin: 0 auto;padding: 10%;}
#solution h2{font-family: 'HP Simplified'; font-size: 3.250em;color: #000;line-height: 1.1;font-weight: 300;}
#solution p{font-family: 'HP Simplified'; color: #000;font-size: 1.2em;}

/* RESULT */
#result {background: #fff;}
#result .embed-copy{display: block; margin: 0 auto;padding:  10%;}
#result h2{font-family: 'HP Simplified'; font-size: 3.250em;color: #000;line-height: 1.1;font-weight: 300;}
#result p{font-family: 'HP Simplified'; color: #000;font-size: 1.2em;}

/* NOTED */
#noted {background:#fff;}
#noted .embed-copy{display: block; margin: 0 auto;padding: 10%;}
#noted p{font-family: 'HP Simplified'; font-size: 3.250em;font-weight:300;color: #000;}

/* NOTED-BLUE */
#noted-blue {background:#0096d6;}
#noted-blue .embed-copy{display: block; margin: 0 auto;padding: 10%;}
#noted-blue p{font-family: 'HP Simplified'; font-size: 1.875em;font-weight:300;color: #fff;}
#noted-blue span{font-weight:500;text-align: right;}

/* PRODUCTS */
#wallcoverings {background: #dfe2e2;}
#wallcoverings .embed-copy{display: block; margin: 0 auto;padding: 10% 0% 0% 0%;}
#wallcoverings .embed-copy h3{font-family: 'HP Simplified'; font-size: 3.250em;color: #000;line-height: 1.1;font-weight: 300;}
#wallcoverings .embed-copy p{font-family: 'HP Simplified'; color: #000;font-size: 1.2em;}
.cardup{padding: 5%;}
.card{position: relative;min-height: 316px; width: 100%; background-position: center center;background-size: cover;border-radius: 1%;padding: 5%;}
.hovereffect {width: 100%;height: 100%;float: left;overflow: hidden;position: relative;text-align: center;cursor: pointer;}
.hovereffect .overlay {width: 100%;height: 100%;position: absolute;overflow: hidden;left: 0;background-color: rgba(0, 0, 0, 0.7);background-blend-mode: multiply;top: -200px;opacity: 0;filter: alpha(opacity=0);padding: 10%;}
.hovereffect:hover .overlay {opacity: 1;filter: alpha(opacity=100);top: 0px;}
.hovereffect h2 {color: #fff;text-align: center;position: relative;font-family: 'HP Simplified';font-weight: 300;font-size: 2em;padding: 1%;}
.hovereffect p {color: #fff;text-align: center;position: relative;font-family: 'HP Simplified';font-size: 1.2em;font-weight: 300;padding: 1% 5%;}
.hovereffect a.info {display: inline-block;text-decoration: none;padding: 2% 7%;margin: 2% 0 0 0;background-color: transparent;color: #fff;border: 1px solid #fff;border-radius: 0.375em;}
.hovereffect:hover a.info {color: #fff;border: 1px solid #fff;font-family: 'HP Simplified';font-weight: 300;font-size: 1.2em;}

/* FOOTER */
.full {width: 100%;}
.gap {height: 30px;width: 100%;clear: both;display: block;}
.footer {background: #5a5a5a;height: auto;padding: 5%;position: relative;width: 100%;border-bottom: 1px solid #CCCCCC;border-top: 1px solid #DDDDDD;}
.footer h3 {font-family: 'HP Simplified'; margin: 0;color:#fff;}
.footer p {font-family: 'HP Simplified'; margin: 0;color:#fff;}
.footer ul {font-size: 1.15em;list-style-type: none;margin-left: 0;padding-left: 0;margin-top: 15px;color:#fff;}
.footer ul li a {font-family: 'HP Simplified'; padding: 1%;display: block;}
.footer a {font-family: 'HP Simplified'; color: #fff;}
.footer a:hover {color: #fff;}
.footer-bottom {background: #5a5a5a;border-top: 1px solid #fff;padding-top: 2%;padding-bottom: 2%;}
.footer-bottom p.pull-left {font-family: 'HP Simplified'; padding-top: 1%;color:#fff;}
.payments {font-size: 1.5em;}

/* SELECTION HIGHLIGHT */
::-moz-selection {color: white; text-shadow: none; background: #F05332;}
::selection { color: white; text-shadow: none; background: #F05332;}
img::selection {color: white;background: transparent;}
img::-moz-selection {color: white;background: transparent;}
body {webkit-tap-highlight-color: #F05332;}
